/* TipTip CSS - Version 1.2 */

	#tiptip_holder {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99999;
	}
	
	#tiptip_holder.tip_top {
		padding-bottom: 5px;
	}
	
	#tiptip_holder.tip_bottom {
		padding-top: 5px;
	}
	
	#tiptip_holder.tip_right {
		padding-left: 5px;
	}
	
	#tiptip_holder.tip_left {
		padding-right: 5px;
	}
	
	#tiptip_content {
		font-size: 11px;
		color: #d9e5f6;
		padding: 10px 15px;
		border: 1px solid rgba(255,255,255,0.25);
		/*
		background-color: rgb(25,25,25);
		background-color: rgba(25,25,25,0.92);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
		*/
		background-color: rgb(25,25,25);
		
		border-radius: 5px;	
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		/*box-shadow: 0 0 3px #555;
		-webkit-box-shadow: 0 0 3px #555;
		-moz-box-shadow: 0 0 3px #555;*/
	}
	
	#tiptip_arrow, #tiptip_arrow_inner {
		position: absolute;
		border-color: transparent;
		border-style: solid;
		border-width: 6px;
		height: 0;
		width: 0;
	}
	
	#tiptip_holder.tip_top #tiptip_arrow {
		border-top-color: #fff;
		border-top-color: rgba(255,255,255,0.35);
	}
	
	#tiptip_holder.tip_bottom #tiptip_arrow {
		border-bottom-color: #fff;
		border-bottom-color: rgba(255,255,255,0.35);
	}
	
	#tiptip_holder.tip_right #tiptip_arrow {
		border-right-color: #fff;
		border-right-color: rgba(255,255,255,0.35);
	}
	
	#tiptip_holder.tip_left #tiptip_arrow {
		border-left-color: #fff;
		border-left-color: rgba(255,255,255,0.35);
	}
	
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		margin-top: -7px;
		margin-left: -6px;
		border-top-color: rgb(25,25,25);
		border-top-color: rgba(25,25,25,0.92);
	}
	
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		margin-top: -5px;
		margin-left: -6px;
		border-bottom-color: rgb(25,25,25);
		border-bottom-color: rgba(25,25,25,0.92);
	}
	
	#tiptip_holder.tip_right #tiptip_arrow_inner {
		margin-top: -6px;
		margin-left: -5px;
		border-right-color: rgb(25,25,25);
		border-right-color: rgba(25,25,25,0.92);
	}
	
	#tiptip_holder.tip_left #tiptip_arrow_inner {
		margin-top: -6px;
		margin-left: -7px;
		border-left-color: rgb(25,25,25);
		border-left-color: rgba(25,25,25,0.92);
	}
	
	/* Webkit Hacks  */
	@media screen and (-webkit-min-device-pixel-ratio:0) {	
		#tiptip_content {atio:0}	
		#tiptip_content {
			padding: 4px 8px 5px 8px;
			background-color: rgba(45,45,45,0.88);
		}
		#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
			border-bottom-color: rgba(45,45,45,0.88);
		}
		#tiptip_holder.tip_top #tiptip_arrow_inner { 
			border-top-color: rgba(20,20,20,0.92);
		}
	}
#LoopDiv
{
    width: 100%;
    height: 400px;
}
#StarDiv
{
    width: 224px;
    height: 400px;
    float: right;
}
.starDiv
{
    width: 87px;
    height: 87px;
    border: solid 1px #CCC;
    float: left;
    margin-left:9px;
    margin-top:9px;
}
.starDiv img
{
    width:87px;
    height:87px;
}
.star_l
{
    margin-top: 14px;
    height:304px;
}
.more
{
    text-align:right;
    margin-right:30px;
    clear:both;
    display:block;
    margin-top:15px;
    text-decoration:none;
    color:#A20F1A;
}
.more:hover
{
    text-decoration:underline;
}
#NewsDiv
{
    width: 350px;
    height: 400px;
    float: left;
    margin-left:24px;
}
#VideoDiv
{
    position:relative;
    width: 319px;
    height: 400px;
    float: left;
    margin-left:18px;
}
#VideoDiv .tab{position:absolute;right:0;top:10px;}
#VideoDiv .tab span{padding:2px;}
#VideoDiv p{color:#666;margin-bottom:1em;text-indent:2em;line-height:20px;}
#VideoDiv #ENText p{line-height:16px;text-indent:1em;}
#VideoDiv p em{color:#a20f1a;}
#Player
{
    margin-left:2px;
}

/*合作伙伴*/
.friend
{
    clear:both;
    height:52px;
    background-image:url(../../images/Index/friend.gif);
    background-repeat:no-repeat;
    background-position:10px 20px;
    margin-top:55px;
    padding-left:82px;
}
.friend a
{
    text-decoration:none;
}
/*新闻列表*/
.index_l
{
    line-height:25px;
    margin-top:14px;
    background-image:url(../../images/Index/new_bg.gif);
    background-repeat:repeat-x;
    background-position:0 77px;
    margin-left:14px;
}
.index_l li
{
    height:77px;
}
.index_l li strong
{
    margin-right:15px;
    color:#A20F1A;
}
.index_l li a
{
    text-decoration:none;
    color:#A20F1A;
}
.index_l li a:hover
{
    text-decoration:underline;
}
.index_l li span
{
    color:#666;
}
/*视频广告*/
#VideoDiv h3
{
    font-weight:normal;
    color:#B50715;
    font-size:14px;
    height:24px;
}
#VideoDiv img
{
    margin-bottom:22px;
}
.ptDiv
{
    width: 200px;
    height: 50px;
    border: solid 1px #CCC;
    float: left;
    margin-left: 5px;
}
.nav li a#A1 {
	background-image:url(../../images/web/menu_over.png);
	 _background-image:url(../../images/web/menu_over.gif);
	background-repeat:no-repeat;
	background-position:0 0;
}

/*以下为2011.10 调整内容*/
.lanActive
{
    background-color: #a20f1a;
    color:#fff;
}

.lanNormal
{
    background-color: #e0e1e3;
}

#ENText
{
    display: none;
}


#ENText em
{
    color: #A20F1A
}

#ENBtn
{
    cursor:pointer;
}
#CHBtn
{
    cursor:pointer;
}
